<?xml version="1.0" encoding="UTF8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="GamePoint\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="DATABASE_TEST_URL" value="//root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_TEST_URL_MAIN" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_MASTER" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_SLAVE0" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_SLAVE1" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_SLAVE2" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_SLAVE3" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_MAIN_URL_SLAVE4" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_TEST_URL_GLOBAL" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_MASTER" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_SLAVE0" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_SLAVE1" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_SLAVE2" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_SLAVE3" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_GLOBAL_URL_SLAVE4" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_BANK_URL_MAIN" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_BANK_URL_SLAVE0" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="DATABASE_BANK_URL_SLAVE1" value="mysql://root:root@omegaapi-mariadb:3306/omegaapi_test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st0m3G4"/>
        <env name="SHELL_VERBOSITY" value="1"/>
        <env name="AVATARS_HOST" value="https://dev.gamepoint.net/avatarsv3"/>
        <env name="AVATARS_HOST_PRODUCTION" value="https://www.gamepoint.com/avatarsv3"/>
        <env name="STATIC_IMAGE_PATH" value="https://gamepoint.com/images/en/s"/>

        <!-- define your env variables for the test env here -->
        <!-- ###+ php-amqplib/rabbitmq-bundle ### -->
        <!-- env name="RABBITMQ_URL" value="amqp://guest:guest@rabbitmq:5672"/ -->
        <!-- ###- php-amqplib/rabbitmq-bundle ### -->
        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <!-- env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/ -->
        <!-- env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/ -->
        <!-- env name="JWT_PASSPHRASE" value="eb297a683c7541b0af9281c9b22c602c"/ -->
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- Disable the deprecation helper for tests. Else deprecation notices will fail the test -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

        <!-- ###+ doctrine/mongodb-odm-bundle ### -->
        <!-- env name="MONGODB_URL" value="mongodb://root:example@symfony_mongo:27017"/ -->
        <!-- env name="MONGODB_DB" value="symfony"/ -->
        <!-- ###- doctrine/mongodb-odm-bundle ### -->

    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory suffix=".php">./src/Migrations</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>